<h1>Listing prompts</h1>

<table>
  <tr>
  </tr>

<% @prompts.each do |prompt| %>
  <tr>
    <td><%= link_to 'Show', prompt %></td>
    <td><%= link_to 'Edit', edit_prompt_path(prompt) %></td>
    <td><%= link_to 'Destroy', prompt, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New prompt', new_prompt_path %>